body {
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
    text-align: center;
    background-color: #3b4652;
    opacity: .85;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: visible;
	width: 400px;
	max-width: 100%;
    
    
}